
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2 style="background-color:red;color:white;">INDEX</h2>


<h2>Kullanıcı Hareketleri</h2>
<ul id="hareketListesi"></ul>